.card-title {
    text-align: center;
}
body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png');
}
/* .card {
    background-color: lightgoldenrodyellow;
} */