.card-title {
  text-align: center;
  color: #1f3d0c;
  font-weight: bold;
}

body {
  background-image: url(https://media.istockphoto.com/vectors/abstract-geometric-pattern-seamless-with-gold-luxury-line-and-white-vector-id1066178664);
}
/* .card {
    background-color: lightgoldenrodyellow;
} */

.card-action,p,span {
  color: #654321;
  font-weight: bold;
}

#radio {
  color: #654321;
}
*,
*:before,
*:after {
  color: #654321;
}
.title {

  font-weight: bolder;
  font-size: x-large;
  color: #1f3d0c;
  text-align: center;
}
.card-title {
  /* background-color: bisque; */
  
  
  /* background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex.png"); */
}
.side, .card {
  
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  background-color: #d2b48c;
  color: #57471e;
}
.flipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  height: 160px;
  position: relative;
  margin: 30px auto;
}
.flipCard .card.flipped {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg); /* IE 9 */
  -moz-transform: rotatey(-180deg); /* Firefox */
  -webkit-transform: rotatey(-180deg); /* Safari and Chrome */
  -o-transform: rotatey(-180deg); /* Opera */
}
.flipCard .card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flipCard .card .side {
  height: 100%;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden; /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.flipCard .card .back {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg); /* IE 9 */
  -moz-transform: rotatey(-180deg); /* Firefox */
  -webkit-transform: rotatey(-180deg); /* Safari and Chrome */
  -o-transform: rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
  text-align: center;
}
.flipCard .card .back {
  text-align: center;
  font-family: Georgia;
  font-size: 2em;
}
.ct-chart {
  background-color: #bbb;
  max-width:100%;
  max-height:100%;
  padding: 0;
  margin: 0;
  z-index: 5;
  /* background-color: rgba(0,0,0,0); */
}